{% extends 'default.html.twig' %} {# layout was the old template #}

{% block title %}Password Reset Email Sent{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">{{ 'title.home'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_register') }}">{{ 'title.register'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_login') }}">{{ 'title.login'|trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_forgot_password_request') }}">{{ 'title.reset_password'|trans }}</a></li>
        </ol>
    </nav>
{% endblock %}

{% block footer %}
{% endblock %}

{% block main %}
    <h1 class="mb-4">Reset your password</h1>

    <div class="row">
        <div class="col-md-8">
            <p>
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        </div>
    </div>

{% endblock %}
