{% extends 'layout.html.twig' %}

{%block hero %}
    {% if products is defined and products|length > 0 %}
    <div class="container col-xxl-8">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5" >
            <div class="col-lg-8">
                <h1 class="display-5 fw-bold lh-1 mb-3"> {{ products[0].title }}</h1>
                <p class="lead"> {{ products[0].description }}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    {% for button in buttons %}
                        <a href="{{ path(button.getRoute) }}" class="btn btn-{{ button.getType }} btn-lg px-4 me-md-2"><i class="{{ button.getIcon }}"></i> {{ button.getCaption|trans }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock hero %}

{% block main %}

{% endblock %}
