{#{% extends 'layout.html.twig' %} #}{# TODO: inherits from the controller #}
{% extends 'default_layout.html.twig' %}

{% block hero %}
    <div class="container col-xxl-8 px-4 py-1">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ asset('build/images/logo0.png') }}" class="d-block mx-lg-auto img-fluid" alt="{{ app_domain }} {{ app_name }}" width="250" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 mb-4">Наша компанія</h1>
                <p >
                    Є автором та виробником універсального гідравлічного обладнання. Гідравлічне підйомне обладнання пройшло всі технічні випробування та відповідає міжнародним вимогам та технічним умовам експлуатації.</p>
                <div class="position-relative">
                    <a href="{{ path('app_contact') }}" type="button" class="btn btn-outline-danger px-4 position-absolute end-0">{{ 'action.details'|trans }}</a>
                </div>
            </div>
        </div>
        <hr class="hr">
    </div>
{% endblock %}

{% block main %}{% endblock %}
