{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} {{ app.request.pathinfo }} {% endblock %}

{% block favicon %}
{#<link rel="icon" href="/favicon.ico">#}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicons/favicon.svg') }}">
<link rel="alternate icon" type="image/png" sizes="16x16" href="{{ asset('favicons/favicon16x16.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-touch-icon.png') }}" />
{% endblock %}

{% block add_stylesheets %}
    <style>
    .btn-menu {
        --bs-btn-color: #fff;
        --bs-btn-bg: #FF010B;
        --bs-btn-border-color: #FF010B;
        --bs-btn-hover-color: #FF010B;
        --bs-btn-hover-bg: #F5F2F2;
        --bs-btn-hover-border-color: #F5F2F2;
        --bs-btn-focus-shadow-rgb: 225,83,97;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #b02a37;
        --bs-btn-active-border-color: #a52834;
        --bs-btn-active-shadow: inset 0 0px 0px rgba(0,0,0,.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #FF010B;
        --bs-btn-disabled-border-color: #FF010B;
        --bs-btn-border-radius: 0;
    }

    /*.container {*/
    /*    width: auto;*/
    /*    max-width: 680px;*/
    /*    padding: 0 15px;*/
    /*}*/

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: #2B2E2D;
    }
    </style>
{% endblock %}

{% block modal %}{% endblock %}

{% block body %}
{% block extended_navbar %}{% endblock %}
{% block simple_navbar %}{% endblock %}
{% block top_menu %}
<div class="container-fluid" style="background: #FF010B">
    <div class="container">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            {% for menu_item in top_menu %}
                {% if menu_item.items is defined and menu_item.items|length > 0 %}
                    <div class="btn-group" role="group">
                        <a href="#" class="btn btn-menu dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ menu_item.title }}
                        </a>
                        <ul class="dropdown-menu">
                            {% for item in menu_item.items %}
                            <li><a class="dropdown-item" href="{{ item.path }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <a href="{{ menu_item.path }}" class="btn btn-menu">{{ menu_item.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
<main style="padding-bottom: 100px">
    {% block main_body %}
        {% block main %}
        {% endblock %}
    {% endblock %}
</main>
{% endblock %}

{% block footer %}
    {% if fast_form is defined %}
        <footer class="footer mt-auto py-3">

            <div class="container sticky">
                {{ form_start(fast_form) }}
                <div class="row">
                    <div class="col-md-6">
                        <span class="text-white fs-5">Для швидкого зв'язку заповніть дані і ми вам зателефонуємо</span>
                    </div>
                    <div class="col-auto">
                        {{ form_widget(fast_form.name, {attr:{placeholder:"Ім'я"}}) }}
                    </div>
                    <div class="col-auto">
                        {{ form_widget(fast_form.phone, {attr:{placeholder:"Телефон"}}) }}
                    </div>
                    <div class="col-auto">
                        <input class="form-control btn btn-danger" type="submit" value="Відправити" />
                    </div>
                </div>
                {{ form_end(fast_form) }}
            </div>
        </footer>
    {% endif %}

{% endblock %}

{% block additional_info %}
    <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
{% endblock %}
