{% extends 'base_layout.html.twig' %}

{% block extended_navbar %}
<header class="border-bottom">
    <nav class="navbar navbar-expand-sm">
        <div class="container"> {# container-fluid #}
            <a class="navbar-brand" href="{{ path('app_home') }}"><i class="bi bi-triangle"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">{{ 'menu.index'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_project_index') }}">{{ 'menu.projects'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_offer_index') }}">{{ 'menu.offer'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">{{ 'Cart'|trans }}</a>
                    </li>
                </ul>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{{ path('app_profile') }}">{{ 'app.profile'|trans }}</a></li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li><a href="{{ path('admin_settings_index') }}" class="dropdown-item" type="button">{{ 'app.settings'|trans }}</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'app.logout'|trans }}</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-outline-secondary ms-lg-2" href="{{ path('app_login') }}"><i class="bi bi-person"></i> {{ 'login'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
{% endblock %}


{% block main_body %}
    {% block hero %}{% endblock %}
    {% block main_content %}

        <main class="container mt-4">
            {% block breadcrumbs %}{% endblock %}

            {% block flashes %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message|trans }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message|trans }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning" role="alert">
                        {{ message|trans }}
                    </div>
                {% endfor %}

                {% block add_flashes %}{% endblock %}
            {% endblock %}

            {% block main %}
            {% endblock %}
        </main>

    {% endblock%}
{% endblock %}


