<style>
    {# here, define your CSS styles as usual #}
</style>

<h3>{{ 'email.confirm.title'|trans }}</h3>
<p>{{ 'email.confirm.text'|trans }}:</p>
<p><a href="{{ signedUrl|raw }}">{{ 'email.confirm.link'|trans }}</a>.</p>
<p>{{ 'email.confirm.link_expire'|trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
<p>{{ 'email.confirm.cheers'|trans }}</p>
