<h3>{{ 'email.reset.greeting'|trans }}</h3>

<p>{{ 'email.reset.title'|trans }}</p>
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
<p>{{ 'email.reset.link_expire'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
<p>{{ 'email.reset.cheers'|trans }}</p>
